<!DOCTYPE html>
<html>
<head>
    <title>DSA - Lab 4</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Data Science Academy</h1>
        <h2>Modelo de Machine Learning Para Prever Se o Cliente Fará Uma Próxima Compra</h2>
        <h3>Digite Abaixo o Valor das Últimas 4 Compras do Cliente</h3>
        <form action="/predict" method="post">
            <input type="text" name="feature1" placeholder="Valor Compra 1" required="required" />
            <input type="text" name="feature2" placeholder="Valor Compra 2" required="required" />
            <input type="text" name="feature3" placeholder="Valor Compra 3" required="required" />
            <input type="text" name="feature4" placeholder="Valor Compra 4" required="required" />
            <button type="submit">Prever</button>
        </form>

        {% if prediction_text %}
            <h3>{{ prediction_text }}</h3>
        {% endif %}
    </div>
</body>
</html>
